[submodule "code/main/src/Rotary"]
	path = code/main/src/Rotary
	url = https://github.com/brianlow/Rotary.git
[submodule "code/main/src/ST7920_SPI"]
	path = code/main/src/ST7920_SPI
	url = https://github.com/cbm80amiga/ST7920_SPI.git
[submodule "code/main/src/PropFonts"]
	path = code/main/src/PropFonts
	url = https://github.com/cbm80amiga/PropFonts.git
[submodule "code/main/src/menu"]
	path = code/main/src/menu
	url = https://github.com/thesunRider/menu.git
	branch = patch-1
[submodule "code/main/src/button"]
	path = code/main/src/button
	url = https://github.com/thesunRider/button.git
	branch = patch-1
[submodule "code/main/src/MAX6675-library"]
	path = code/main/src/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library.git
[submodule "code/main/src/PIDArduino"]
	path = code/main/src/PIDArduino
	url = https://github.com/DonnyCraft1/PIDArduino.git
